@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  @apply m-0 p-0 font-merri;
}
body {
  position: relative;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.drop-container-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop {
  width: auto;
  height: auto;
  border-radius: 51% 49% 33% 67% / 39% 48% 52% 61%;
  background: transparent;
  box-shadow: inset 15px 15px 30px #00000020, inset -15px -15px 30px #fff,
    20px 60px 40px #00000010;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

.drop::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 90px;
}

.drop::after {
  content: "";
  position: absolute;
  top: 150px;
  left: 150px;
}

.drop img {
  color: #333;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
}

.drop:hover {
  border-radius: 50%;
}

/* logo */
/*
NOTE: This is just an experiment and
      could use some changes to improve performance:

https://x.com/actualTimWilson/status/1730753841795158313

See a production optimized version here: https://charmui.com
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@keyframes jumbo {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.jumbo {
  --stripes: repeating-linear-gradient(
    100deg,
    #fff 0%,
    #fff 7%,
    transparent 10%,
    transparent 12%,
    #fff 16%
  );
  --stripesDark: repeating-linear-gradient(
    100deg,
    #000 0%,
    #000 7%,
    transparent 10%,
    transparent 12%,
    #000 16%
  );
  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(10px) invert(100%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  pointer-events: none;
}

.jumbo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: jumbo 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.dark .jumbo {
  background-image: var(--stripesDark), var(--rainbow);
  filter: blur(10px) opacity(50%) saturate(200%);
}
.dark .jumbo::after {
  background-image: var(--stripesDark), var(--rainbow);
}
